<p>Register with us!</p>
<div class="">
  <form (submit)="fun()">
    <div FormGroup="classd">
    <input type="text" name="uname" placeholder="Username"/>
    </div><br/>
    <div FormGroup="classd">
    <input type="text" name="uname" placeholder="Email"/>
    </div><br/>
    <div FormGroup="classd">
    <input type="password" name="uname" placeholder="Password"/>
    </div><br/>
    <div FormGroup="classd">
    <input type="password" uname="pkey" placeholder="Confirm Password"/>
    </div><br/>
    <button type="submit">Submit</button>
  </form>
</div>